.gradle/8.4/checksums/checksums.lock
.gradle/8.4/executionHistory/executionHistory.bin
.gradle/8.4/executionHistory/executionHistory.lock
.gradle/8.4/fileHashes/fileHashes.bin
.gradle/8.4/fileHashes/fileHashes.lock
.gradle/8.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.idea/modules/app/mrhi3AIstudio.app.iml
app/build/intermediates/apk/androidTest/debug/app-debug-androidTest.apk
app/build/intermediates/apk/androidTest/debug/output-metadata.json
app/build/intermediates/apk/debug/app-debug.apk
app/build/intermediates/apk/debug/output-metadata.json
app/build/intermediates/apk_ide_redirect_file/debug/redirect.txt
app/build/intermediates/apk_ide_redirect_file/debugAndroidTest/redirect.txt
app/build/intermediates/compile_app_classes_jar/debug/classes.jar
app/build/intermediates/dex/debug/mergeProjectDexDebug/12/classes.dex
app/build/intermediates/dex/debug/mergeProjectDexDebug/15/classes.dex
app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
app/build/intermediates/incremental/packageDebugAndroidTest/tmp/debugAndroidTest/dex-renamer-state.txt
app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
app/build/intermediates/merged_manifest/debug/AndroidManifest.xml
app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
app/build/intermediates/packaged_manifests/debug/AndroidManifest.xml
app/build/intermediates/processed_res/debug/out/resources-debug.ap_
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-10$1$1$1.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-10$1.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-11$1.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-7$1.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-8$1.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-9$1.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/LiveLiterals$MainActivityKt.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/MainActivity.dex
app/build/intermediates/project_dex_archive/debug/out/mrhi3/ai/studio/util/UriSaver.dex
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.s
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.s
app/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
app/build/kotlin/compileDebugKotlin/local-state/build-history.bin
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-10$1$1$1.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-10$1.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-11$1.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-7$1.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-8$1.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/ComposableSingletons$MainActivityKt$lambda-9$1.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/LiveLiterals$MainActivityKt.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/MainActivity.class
app/build/tmp/kotlin-classes/debug/mrhi3/ai/studio/util/UriSaver.class
